---
swagger: '2.0'
info:
  version: '1.0.0'
  title: iWangNeng API Server
  description: A useful documention for API
  contact:
    name: Jobs Long
    email: jobslong@ideas.top
    url: 'http://jobslong.com'
  license:
    name: MIT
host: lumen-api.app
basePath: /api
schemes:
  - http
produces:
	- application/json
paths:
  /auth/login:
    post:
      summary: "用户验证流程"
      description: |
        用户验证流程：登录
      parameters:
        - name: phone
          description: 用户登录账号（手机号码）
          in: formData
          required: true
          type: string
          format: string
          default: "1850022XXXX"
        - name: password
          description: 用户密码
          in: formData
          required: true
          type: string
          format: string
          default: "password"
      tags:
        - Auth
      responses:
        '200':
          description: 获取 token 成功
          schema:
            $ref: '#/definitions/Auth'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /auth/register:
    post:
      summary: "用户验证流程"
      description: |
        用户验证流程：注册, 需要经过手机验证码检测中间件
      parameters:
        - name: phone
          description: 用户注册账号（手机号码）
          in: formData
          required: true
          type: string
          format: string
          default: "1850022XXXX"
        - name: code
          description: 手机验证码(暂时为4位)
          in: formData
          required: true
          type: string
          description: "0457"
        - name: password
          description: 用户密码
          in: formData
          required: true
          type: string
          format: string
          default: "password"
  /auth/reset:
    post:
      summary: "用户验证流程"
      description: |
        用户验证流程：忘记密码, 需要经过手机验证码检测中间件
      parameters:
        - name: phone
          description: 用户登录账号（手机号码）
          in: formData
          required: true
          type: string
          format: string
          default: "1850022XXXX"
        - name: code
          description: 手机验证码(暂时为4位)
          in: formData
          required: true
          type: string
          description: "0457"
        - name: password
          description: 用户密码
          in: formData
          required: true
          type: string
          format: string
          default: "password"
      tags:
        - Auth
      responses:
        '200':
          description: 用户重置密码成功
          schema:
            $ref: '#/definitions/Success'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /auth/me:
    get:
      summary: "用户验证流程"
      description: |
        用户验证流程：获得验证用户信息
      tags:
        - Auth
      responses:
        '200':
          description: 获得验证用户信息
          schema:
            $ref: '#/definitions/User'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /auth/valid_token:
    get:
      summary: "用户验证流程"
      description: |
        用户验证流程：验证 token 是否有效
      tags:
        - Auth
      responses:
        '200':
          description: valid token
          schema:
            $ref: '#/definitions/Success'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
definitions:
  Auth:
    type: object
    properties:
      token:
        type: string
        description: jwt-auth token
        default: "U12pSMtFbzj8LLwHAvgijaJCscH661DJkFzNQoBj"
  User:
    type: object
    properties:
      phone: 
        type: string
        description: 用户登录账号（手机号码）
        default: "1850022XXXX"
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string   
  Success:
    type: object
    properties:
      status: 
        type: string
        description: success response
        default: "success"